{% extends 'base.html.twig' %}


{% block body %}
	<div class="text-center">

		<div class="card bg-transparent border-0 text-center text1">
			<img src="/assets/images/Hall.jpg" class="card-img-top" width="1200" height="auto" alt="Image Hotel">
			<div class="card-img-overlay">
				<h1 class="card-title py-3">Bienvenue sur Hypnos</h1>
			</div>
		</div>

		<p class="py-5 fst-italic">Nous vous proposons le meilleur accueil dans nos hôtels , situés aux quatre coins de l'hexagone</p>

		<div class="row row-cols-1 row-cols-lg-3 g-3">
			<div class="col">
				<div class="card bg-transparent border-0 mx-3">
					<img src="/assets/images/Jacuzzi.jpg" class="card-img-top" width="1200" height="auto" alt="Image Hotel">
					<div class="card-body"></div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-transparent border-0">
					<div class="card-body fst-italic d-flex align-items-center justify-content-center" style="height:200px">
						<div class="card-text">
							<p>Chaque hôtel offre des suites personnalisées, equipées d'un jacuzzi</p>
							<p>Et vous accueille pour un sejour des plus agréables</p>
						</div>
					</div>
				</div>
			</div>	
			<div class="col">
				<div class="card bg-transparent border-0 mx-3">
						<img src="/assets/images/Exterieur.jpg" class="card-img-top" width="1200" height="auto" alt="Image Hotel">
						<div class="card-body"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}
