{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button id="bookingButton" type="submit" class="btn btn-success mb-4">Valider</button>

{{ form_end(form) }}
            	
{% block javascripts %}
{{ encore_entry_script_tags('booking') }}
{% endblock %}


