{% extends 'base.html.twig' %}

{% block title %}Faire une Reservation
{% endblock %}

{% block body %}
	<div class="container-fluid text-center">
		<div class="row py-5">
			<div class=" col"></div>
			<div class="col col-lg-4 col-md-5 col-sm-8 col-12">

				{{ include('booking/_form.html.twig') }}		
										
				<a  href= "{{ path('booking_index') }}" class="btn btn-info my-3"  role="button">Retour</a>  		
			</div>			
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block stylesheet %}
{{ encore_entry_link_tags('datepicker') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('datepicker') }}
{% endblock %}
