{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <div class="row">
        <div class="col"></div>  
            <div class="col col-lg-6 col-md-9 col-sm-10 col-12" >                   
                <div class="color2 my-5 py-5 px-5">
                    <div> 
                        <h1>Hypnos</h1>
                        <h3> Mi ipsum maximus justo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur lorem quis justo egestas vestibulum.
                         Ut rhoncus dapibus urna, eu bibendum dui ultricies vitae. In sodales ultrices sem, nec convallis turpis tristique in. 
                         Phasellus hendrerit nibh eu consectetur ornare. Nam suscipit malesuada lacinia. Duis mollis, lacus sed bibendum volutpat, 
                         ligula nulla tempus arcu, eget rutrum urna urna ac ante. Cras elementum tortor et ex feugiat, a maximus felis tristique. 
                         Proin sed orci eu justo interdum hendrerit ullamcorper non dui. Nullam id gravida augue. 
                         Pellentesque vulputate, quam vel euismod mattis, mi ipsum maximus justo, nec dapibus velit velit sit amet orci. 
                         Aenean in elit nec metus vehicula malesuada at ac orci. Nunc egestas tellus vel dolor suscipit, vitae congue dolor efficitur.
                          In imperdiet dictum urna, sed vehicula lorem viverra sed.</p>
                        
                        <h3> Duis accumsan consequat vulputate</h3>
                         <p>Duis dolor nibh, fringilla a tempor ac, ultricies tempor ipsum. Nulla purus augue, feugiat eget faucibus vitae, viverra et risus.
                          Duis lobortis eget velit ac gravida. Sed nec dapibus erat. Cras a sodales leo. Curabitur auctor sapien vitae nibh imperdiet blandit.
                           Aenean id diam ultrices, dapibus arcu nec, faucibus ligula. In mattis odio nibh, quis interdum leo posuere eget. Etiam quam lectus,
                            aliquet ac vestibulum quis, hendrerit ut sem. Duis pellentesque est vestibulum ultricies ultrices. Sed quam turpis,
                         dictum at magna quis, condimentum feugiat purus. Duis accumsan consequat vulputate. Aliquam lectus nibh, viverra et porttitor vel, 
                         tempor in libero. Nunc feugiat venenatis ante, at luctus ex lobortis non. Quisque ultrices erat in nisi porttitor porttitor.</p>

                         <h3>Ut eu dapibus libero</h3>
                        <p>Sed turpis orci, pharetra nec tortor nec, elementum aliquet purus. Curabitur metus justo, aliquam sed lacus quis, consequat efficitur libero.
                         Mauris sed pharetra massa. Praesent vehicula eget odio sed semper. In orci libero, dapibus eu urna vel, facilisis ornare neque. 
                         Nullam eu purus a lectus bibendum eleifend. Ut eu dapibus libero, id malesuada ex.</p>

                        <a href= "{{ path('home') }}" class="btn btn-primary" role="button">Retour à L'Accueil</a>
                    </div> 
                </div>
            </div>     
        <div class="col"></div>       
    </div>      

{% endblock %}
