
body {
    background-color: rgb(7, 45, 90);
    color: white;
}

.text_color {    
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
  } 
   
.text1{
  margin : -60px -12px 0 -12px ;
 } 

 .color1 {
  background-color: rgb(6, 38, 78);  
}

.color2 {
  background-color: rgb(34, 34, 59);  
}

.space1 {
  margin : 0, 0 , -20px ,0 ;  
}




