
body {
    background-color: rgb(7, 45, 90);
    color: white;
}

.text_color {    
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
  } 
   
.text1{
  margin-top : -60px ;
 } 

 .color1 {
  background-color: rgb(22, 81, 158);
  
}

 
