
{% extends 'base.html.twig' %}

{% block body %}

        <div class="text-center">
    		<div class="card bg-transparent border-0 text-center text1">
			<img src="/assets/images/Error.jpg" class="card-img-top" width="1200" height="auto" alt="Image plage erreur">
			<div class="h2 card-img-overlay">
				<p class="card-title"> Huumm ... L'endroit est tres agréable ...</p>
                <p class="py3"> Mais il est arrivé une erreur ...</p>
                <p> Et vous ne devriez pas  êtes ici !</p>
			</div>
		</div>
    
{% endblock %}